/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* ==========  Color Palettes  ========== */

// Color order: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200,
// A400, A700.

$palette-red ?= "255,235,238" "255,205,210" "239,154,154" "229,115,115" "239,83,80" "244,67,54" "229,57,53" "211,47,47" "198,40,40" "183,28,28" "255,138,128" "255,82,82" "255,23,68" "213,0,0";

$palette-red-50 ?= $palette-red[1 - 1];
$palette-red-100 ?= $palette-red[2 - 1];
$palette-red-200 ?= $palette-red[3 - 1];
$palette-red-300 ?= $palette-red[4 - 1];
$palette-red-400 ?= $palette-red[5 - 1];
$palette-red-500 ?= $palette-red[6 - 1];
$palette-red-600 ?= $palette-red[7 - 1];
$palette-red-700 ?= $palette-red[8 - 1];
$palette-red-800 ?= $palette-red[9 - 1];
$palette-red-900 ?= $palette-red[10 - 1];
$palette-red-A100 ?= $palette-red[11 - 1];
$palette-red-A200 ?= $palette-red[12 - 1];
$palette-red-A400 ?= $palette-red[13 - 1];
$palette-red-A700 ?= $palette-red[14 - 1];

$palette-pink ?= "252,228,236" "248,187,208" "244,143,177" "240,98,146" "236,64,122" "233,30,99" "216,27,96" "194,24,91" "173,20,87" "136,14,79" "255,128,171" "255,64,129" "245,0,87" "197,17,98";

$palette-pink-50 ?= $palette-pink[1 - 1];
$palette-pink-100 ?= $palette-pink[2 - 1];
$palette-pink-200 ?= $palette-pink[3 - 1];
$palette-pink-300 ?= $palette-pink[4 - 1];
$palette-pink-400 ?= $palette-pink[5 - 1];
$palette-pink-500 ?= $palette-pink[6 - 1];
$palette-pink-600 ?= $palette-pink[7 - 1];
$palette-pink-700 ?= $palette-pink[8 - 1];
$palette-pink-800 ?= $palette-pink[9 - 1];
$palette-pink-900 ?= $palette-pink[10 - 1];
$palette-pink-A100 ?= $palette-pink[11 - 1];
$palette-pink-A200 ?= $palette-pink[12 - 1];
$palette-pink-A400 ?= $palette-pink[13 - 1];
$palette-pink-A700 ?= $palette-pink[14 - 1];

$palette-purple ?= "243,229,245" "225,190,231" "206,147,216" "186,104,200" "171,71,188" "156,39,176" "142,36,170" "123,31,162" "106,27,154" "74,20,140" "234,128,252" "224,64,251" "213,0,249" "170,0,255";

$palette-purple-50 ?= $palette-purple[1 - 1];
$palette-purple-100 ?= $palette-purple[2 - 1];
$palette-purple-200 ?= $palette-purple[3 - 1];
$palette-purple-300 ?= $palette-purple[4 - 1];
$palette-purple-400 ?= $palette-purple[5 - 1];
$palette-purple-500 ?= $palette-purple[6 - 1];
$palette-purple-600 ?= $palette-purple[7 - 1];
$palette-purple-700 ?= $palette-purple[8 - 1];
$palette-purple-800 ?= $palette-purple[9 - 1];
$palette-purple-900 ?= $palette-purple[10 - 1];
$palette-purple-A100 ?= $palette-purple[11 - 1];
$palette-purple-A200 ?= $palette-purple[12 - 1];
$palette-purple-A400 ?= $palette-purple[13 - 1];
$palette-purple-A700 ?= $palette-purple[14 - 1];

$palette-deep-purple ?= "237,231,246" "209,196,233" "179,157,219" "149,117,205" "126,87,194" "103,58,183" "94,53,177" "81,45,168" "69,39,160" "49,27,146" "179,136,255" "124,77,255" "101,31,255" "98,0,234";

$palette-deep-purple-50 ?= $palette-deep-purple[1 - 1];
$palette-deep-purple-100 ?= $palette-deep-purple[2 - 1];
$palette-deep-purple-200 ?= $palette-deep-purple[3 - 1];
$palette-deep-purple-300 ?= $palette-deep-purple[4 - 1];
$palette-deep-purple-400 ?= $palette-deep-purple[5 - 1];
$palette-deep-purple-500 ?= $palette-deep-purple[6 - 1];
$palette-deep-purple-600 ?= $palette-deep-purple[7 - 1];
$palette-deep-purple-700 ?= $palette-deep-purple[8 - 1];
$palette-deep-purple-800 ?= $palette-deep-purple[9 - 1];
$palette-deep-purple-900 ?= $palette-deep-purple[10 - 1];
$palette-deep-purple-A100 ?= $palette-deep-purple[11 - 1];
$palette-deep-purple-A200 ?= $palette-deep-purple[12 - 1];
$palette-deep-purple-A400 ?= $palette-deep-purple[13 - 1];
$palette-deep-purple-A700 ?= $palette-deep-purple[14 - 1];

$palette-indigo ?= "232,234,246" "197,202,233" "159,168,218" "121,134,203" "92,107,192" "63,81,181" "57,73,171" "48,63,159" "40,53,147" "26,35,126" "140,158,255" "83,109,254" "61,90,254" "48,79,254";

$palette-indigo-50 ?= $palette-indigo[1 - 1];
$palette-indigo-100 ?= $palette-indigo[2 - 1];
$palette-indigo-200 ?= $palette-indigo[3 - 1];
$palette-indigo-300 ?= $palette-indigo[4 - 1];
$palette-indigo-400 ?= $palette-indigo[5 - 1];
$palette-indigo-500 ?= $palette-indigo[6 - 1];
$palette-indigo-600 ?= $palette-indigo[7 - 1];
$palette-indigo-700 ?= $palette-indigo[8 - 1];
$palette-indigo-800 ?= $palette-indigo[9 - 1];
$palette-indigo-900 ?= $palette-indigo[10 - 1];
$palette-indigo-A100 ?= $palette-indigo[11 - 1];
$palette-indigo-A200 ?= $palette-indigo[12 - 1];
$palette-indigo-A400 ?= $palette-indigo[13 - 1];
$palette-indigo-A700 ?= $palette-indigo[14 - 1];

$palette-blue ?= "227,242,253" "187,222,251" "144,202,249" "100,181,246" "66,165,245" "33,150,243" "30,136,229" "25,118,210" "21,101,192" "13,71,161" "130,177,255" "68,138,255" "41,121,255" "41,98,255";

$palette-blue-50 ?= $palette-blue[1 - 1];
$palette-blue-100 ?= $palette-blue[2 - 1];
$palette-blue-200 ?= $palette-blue[3 - 1];
$palette-blue-300 ?= $palette-blue[4 - 1];
$palette-blue-400 ?= $palette-blue[5 - 1];
$palette-blue-500 ?= $palette-blue[6 - 1];
$palette-blue-600 ?= $palette-blue[7 - 1];
$palette-blue-700 ?= $palette-blue[8 - 1];
$palette-blue-800 ?= $palette-blue[9 - 1];
$palette-blue-900 ?= $palette-blue[10 - 1];
$palette-blue-A100 ?= $palette-blue[11 - 1];
$palette-blue-A200 ?= $palette-blue[12 - 1];
$palette-blue-A400 ?= $palette-blue[13 - 1];
$palette-blue-A700 ?= $palette-blue[14 - 1];

$palette-light-blue ?= "225,245,254" "179,229,252" "129,212,250" "79,195,247" "41,182,246" "3,169,244" "3,155,229" "2,136,209" "2,119,189" "1,87,155" "128,216,255" "64,196,255" "0,176,255" "0,145,234";

$palette-light-blue-50 ?= $palette-light-blue[1 - 1];
$palette-light-blue-100 ?= $palette-light-blue[2 - 1];
$palette-light-blue-200 ?= $palette-light-blue[3 - 1];
$palette-light-blue-300 ?= $palette-light-blue[4 - 1];
$palette-light-blue-400 ?= $palette-light-blue[5 - 1];
$palette-light-blue-500 ?= $palette-light-blue[6 - 1];
$palette-light-blue-600 ?= $palette-light-blue[7 - 1];
$palette-light-blue-700 ?= $palette-light-blue[8 - 1];
$palette-light-blue-800 ?= $palette-light-blue[9 - 1];
$palette-light-blue-900 ?= $palette-light-blue[10 - 1];
$palette-light-blue-A100 ?= $palette-light-blue[11 - 1];
$palette-light-blue-A200 ?= $palette-light-blue[12 - 1];
$palette-light-blue-A400 ?= $palette-light-blue[13 - 1];
$palette-light-blue-A700 ?= $palette-light-blue[14 - 1];

$palette-cyan ?= "224,247,250" "178,235,242" "128,222,234" "77,208,225" "38,198,218" "0,188,212" "0,172,193" "0,151,167" "0,131,143" "0,96,100" "132,255,255" "24,255,255" "0,229,255" "0,184,212";

$palette-cyan-50 ?= $palette-cyan[1 - 1];
$palette-cyan-100 ?= $palette-cyan[2 - 1];
$palette-cyan-200 ?= $palette-cyan[3 - 1];
$palette-cyan-300 ?= $palette-cyan[4 - 1];
$palette-cyan-400 ?= $palette-cyan[5 - 1];
$palette-cyan-500 ?= $palette-cyan[6 - 1];
$palette-cyan-600 ?= $palette-cyan[7 - 1];
$palette-cyan-700 ?= $palette-cyan[8 - 1];
$palette-cyan-800 ?= $palette-cyan[9 - 1];
$palette-cyan-900 ?= $palette-cyan[10 - 1];
$palette-cyan-A100 ?= $palette-cyan[11 - 1];
$palette-cyan-A200 ?= $palette-cyan[12 - 1];
$palette-cyan-A400 ?= $palette-cyan[13 - 1];
$palette-cyan-A700 ?= $palette-cyan[14 - 1];

$palette-teal ?= "224,242,241" "178,223,219" "128,203,196" "77,182,172" "38,166,154" "0,150,136" "0,137,123" "0,121,107" "0,105,92" "0,77,64" "167,255,235" "100,255,218" "29,233,182" "0,191,165";

$palette-teal-50 ?= $palette-teal[1 - 1];
$palette-teal-100 ?= $palette-teal[2 - 1];
$palette-teal-200 ?= $palette-teal[3 - 1];
$palette-teal-300 ?= $palette-teal[4 - 1];
$palette-teal-400 ?= $palette-teal[5 - 1];
$palette-teal-500 ?= $palette-teal[6 - 1];
$palette-teal-600 ?= $palette-teal[7 - 1];
$palette-teal-700 ?= $palette-teal[8 - 1];
$palette-teal-800 ?= $palette-teal[9 - 1];
$palette-teal-900 ?= $palette-teal[10 - 1];
$palette-teal-A100 ?= $palette-teal[11 - 1];
$palette-teal-A200 ?= $palette-teal[12 - 1];
$palette-teal-A400 ?= $palette-teal[13 - 1];
$palette-teal-A700 ?= $palette-teal[14 - 1];

$palette-green ?= "232,245,233" "200,230,201" "165,214,167" "129,199,132" "102,187,106" "76,175,80" "67,160,71" "56,142,60" "46,125,50" "27,94,32" "185,246,202" "105,240,174" "0,230,118" "0,200,83";

$palette-green-50 ?= $palette-green[1 - 1];
$palette-green-100 ?= $palette-green[2 - 1];
$palette-green-200 ?= $palette-green[3 - 1];
$palette-green-300 ?= $palette-green[4 - 1];
$palette-green-400 ?= $palette-green[5 - 1];
$palette-green-500 ?= $palette-green[6 - 1];
$palette-green-600 ?= $palette-green[7 - 1];
$palette-green-700 ?= $palette-green[8 - 1];
$palette-green-800 ?= $palette-green[9 - 1];
$palette-green-900 ?= $palette-green[10 - 1];
$palette-green-A100 ?= $palette-green[11 - 1];
$palette-green-A200 ?= $palette-green[12 - 1];
$palette-green-A400 ?= $palette-green[13 - 1];
$palette-green-A700 ?= $palette-green[14 - 1];

$palette-light-green ?= "241,248,233" "220,237,200" "197,225,165" "174,213,129" "156,204,101" "139,195,74" "124,179,66" "104,159,56" "85,139,47" "51,105,30" "204,255,144" "178,255,89" "118,255,3" "100,221,23";

$palette-light-green-50 ?= $palette-light-green[1 - 1];
$palette-light-green-100 ?= $palette-light-green[2 - 1];
$palette-light-green-200 ?= $palette-light-green[3 - 1];
$palette-light-green-300 ?= $palette-light-green[4 - 1];
$palette-light-green-400 ?= $palette-light-green[5 - 1];
$palette-light-green-500 ?= $palette-light-green[6 - 1];
$palette-light-green-600 ?= $palette-light-green[7 - 1];
$palette-light-green-700 ?= $palette-light-green[8 - 1];
$palette-light-green-800 ?= $palette-light-green[9 - 1];
$palette-light-green-900 ?= $palette-light-green[10 - 1];
$palette-light-green-A100 ?= $palette-light-green[11 - 1];
$palette-light-green-A200 ?= $palette-light-green[12 - 1];
$palette-light-green-A400 ?= $palette-light-green[13 - 1];
$palette-light-green-A700 ?= $palette-light-green[14 - 1];

$palette-lime ?= "249,251,231" "240,244,195" "230,238,156" "220,231,117" "212,225,87" "205,220,57" "192,202,51" "175,180,43" "158,157,36" "130,119,23" "244,255,129" "238,255,65" "198,255,0" "174,234,0";

$palette-lime-50 ?= $palette-lime[1 - 1];
$palette-lime-100 ?= $palette-lime[2 - 1];
$palette-lime-200 ?= $palette-lime[3 - 1];
$palette-lime-300 ?= $palette-lime[4 - 1];
$palette-lime-400 ?= $palette-lime[5 - 1];
$palette-lime-500 ?= $palette-lime[6 - 1];
$palette-lime-600 ?= $palette-lime[7 - 1];
$palette-lime-700 ?= $palette-lime[8 - 1];
$palette-lime-800 ?= $palette-lime[9 - 1];
$palette-lime-900 ?= $palette-lime[10 - 1];
$palette-lime-A100 ?= $palette-lime[11 - 1];
$palette-lime-A200 ?= $palette-lime[12 - 1];
$palette-lime-A400 ?= $palette-lime[13 - 1];
$palette-lime-A700 ?= $palette-lime[14 - 1];

$palette-yellow ?= "255,253,231" "255,249,196" "255,245,157" "255,241,118" "255,238,88" "255,235,59" "253,216,53" "251,192,45" "249,168,37" "245,127,23" "255,255,141" "255,255,0" "255,234,0" "255,214,0";

$palette-yellow-50 ?= $palette-yellow[1 - 1];
$palette-yellow-100 ?= $palette-yellow[2 - 1];
$palette-yellow-200 ?= $palette-yellow[3 - 1];
$palette-yellow-300 ?= $palette-yellow[4 - 1];
$palette-yellow-400 ?= $palette-yellow[5 - 1];
$palette-yellow-500 ?= $palette-yellow[6 - 1];
$palette-yellow-600 ?= $palette-yellow[7 - 1];
$palette-yellow-700 ?= $palette-yellow[8 - 1];
$palette-yellow-800 ?= $palette-yellow[9 - 1];
$palette-yellow-900 ?= $palette-yellow[10 - 1];
$palette-yellow-A100 ?= $palette-yellow[11 - 1];
$palette-yellow-A200 ?= $palette-yellow[12 - 1];
$palette-yellow-A400 ?= $palette-yellow[13 - 1];
$palette-yellow-A700 ?= $palette-yellow[14 - 1];

$palette-amber ?= "255,248,225" "255,236,179" "255,224,130" "255,213,79" "255,202,40" "255,193,7" "255,179,0" "255,160,0" "255,143,0" "255,111,0" "255,229,127" "255,215,64" "255,196,0" "255,171,0";

$palette-amber-50 ?= $palette-amber[1 - 1];
$palette-amber-100 ?= $palette-amber[2 - 1];
$palette-amber-200 ?= $palette-amber[3 - 1];
$palette-amber-300 ?= $palette-amber[4 - 1];
$palette-amber-400 ?= $palette-amber[5 - 1];
$palette-amber-500 ?= $palette-amber[6 - 1];
$palette-amber-600 ?= $palette-amber[7 - 1];
$palette-amber-700 ?= $palette-amber[8 - 1];
$palette-amber-800 ?= $palette-amber[9 - 1];
$palette-amber-900 ?= $palette-amber[10 - 1];
$palette-amber-A100 ?= $palette-amber[11 - 1];
$palette-amber-A200 ?= $palette-amber[12 - 1];
$palette-amber-A400 ?= $palette-amber[13 - 1];
$palette-amber-A700 ?= $palette-amber[14 - 1];

$palette-orange ?= "255,243,224" "255,224,178" "255,204,128" "255,183,77" "255,167,38" "255,152,0" "251,140,0" "245,124,0" "239,108,0" "230,81,0" "255,209,128" "255,171,64" "255,145,0" "255,109,0";

$palette-orange-50 ?= $palette-orange[1 - 1];
$palette-orange-100 ?= $palette-orange[2 - 1];
$palette-orange-200 ?= $palette-orange[3 - 1];
$palette-orange-300 ?= $palette-orange[4 - 1];
$palette-orange-400 ?= $palette-orange[5 - 1];
$palette-orange-500 ?= $palette-orange[6 - 1];
$palette-orange-600 ?= $palette-orange[7 - 1];
$palette-orange-700 ?= $palette-orange[8 - 1];
$palette-orange-800 ?= $palette-orange[9 - 1];
$palette-orange-900 ?= $palette-orange[10 - 1];
$palette-orange-A100 ?= $palette-orange[11 - 1];
$palette-orange-A200 ?= $palette-orange[12 - 1];
$palette-orange-A400 ?= $palette-orange[13 - 1];
$palette-orange-A700 ?= $palette-orange[14 - 1];

$palette-deep-orange ?= "251,233,231" "255,204,188" "255,171,145" "255,138,101" "255,112,67" "255,87,34" "244,81,30" "230,74,25" "216,67,21" "191,54,12" "255,158,128" "255,110,64" "255,61,0" "221,44,0";

$palette-deep-orange-50 ?= $palette-deep-orange[1 - 1];
$palette-deep-orange-100 ?= $palette-deep-orange[2 - 1];
$palette-deep-orange-200 ?= $palette-deep-orange[3 - 1];
$palette-deep-orange-300 ?= $palette-deep-orange[4 - 1];
$palette-deep-orange-400 ?= $palette-deep-orange[5 - 1];
$palette-deep-orange-500 ?= $palette-deep-orange[6 - 1];
$palette-deep-orange-600 ?= $palette-deep-orange[7 - 1];
$palette-deep-orange-700 ?= $palette-deep-orange[8 - 1];
$palette-deep-orange-800 ?= $palette-deep-orange[9 - 1];
$palette-deep-orange-900 ?= $palette-deep-orange[10 - 1];
$palette-deep-orange-A100 ?= $palette-deep-orange[11 - 1];
$palette-deep-orange-A200 ?= $palette-deep-orange[12 - 1];
$palette-deep-orange-A400 ?= $palette-deep-orange[13 - 1];
$palette-deep-orange-A700 ?= $palette-deep-orange[14 - 1];


// Color order: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900.

$palette-brown ?= "239,235,233" "215,204,200" "188,170,164" "161,136,127" "141,110,99" "121,85,72" "109,76,65" "93,64,55" "78,52,46" "62,39,35";

$palette-brown-50 ?= $palette-brown[1 - 1];
$palette-brown-100 ?= $palette-brown[2 - 1];
$palette-brown-200 ?= $palette-brown[3 - 1];
$palette-brown-300 ?= $palette-brown[4 - 1];
$palette-brown-400 ?= $palette-brown[5 - 1];
$palette-brown-500 ?= $palette-brown[6 - 1];
$palette-brown-600 ?= $palette-brown[7 - 1];
$palette-brown-700 ?= $palette-brown[8 - 1];
$palette-brown-800 ?= $palette-brown[9 - 1];
$palette-brown-900 ?= $palette-brown[10 - 1];

$palette-grey ?= "250,250,250" "245,245,245" "238,238,238" "224,224,224" "189,189,189" "158,158,158" "117,117,117" "97,97,97" "66,66,66" "33,33,33";

$palette-grey-50 ?= $palette-grey[1 - 1];
$palette-grey-100 ?= $palette-grey[2 - 1];
$palette-grey-200 ?= $palette-grey[3 - 1];
$palette-grey-300 ?= $palette-grey[4 - 1];
$palette-grey-400 ?= $palette-grey[5 - 1];
$palette-grey-500 ?= $palette-grey[6 - 1];
$palette-grey-600 ?= $palette-grey[7 - 1];
$palette-grey-700 ?= $palette-grey[8 - 1];
$palette-grey-800 ?= $palette-grey[9 - 1];
$palette-grey-900 ?= $palette-grey[10 - 1];

$palette-blue-grey ?= "236,239,241" "207,216,220" "176,190,197" "144,164,174" "120,144,156" "96,125,139" "84,110,122" "69,90,100" "55,71,79" "38,50,56";

$palette-blue-grey-50 ?= $palette-blue-grey[1 - 1];
$palette-blue-grey-100 ?= $palette-blue-grey[2 - 1];
$palette-blue-grey-200 ?= $palette-blue-grey[3 - 1];
$palette-blue-grey-300 ?= $palette-blue-grey[4 - 1];
$palette-blue-grey-400 ?= $palette-blue-grey[5 - 1];
$palette-blue-grey-500 ?= $palette-blue-grey[6 - 1];
$palette-blue-grey-600 ?= $palette-blue-grey[7 - 1];
$palette-blue-grey-700 ?= $palette-blue-grey[8 - 1];
$palette-blue-grey-800 ?= $palette-blue-grey[9 - 1];
$palette-blue-grey-900 ?= $palette-blue-grey[10 - 1];

$color-black ?= "0,0,0";
$color-white ?= "255,255,255";


/* colors.scss */
$styleguide-generate-template ?= false;

// The two possible colors for overlayed text.
$color-dark-contrast ?= $color-white;
$color-light-contrast ?= $color-black;
